<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Selenium-Jenkins_Tests" >

<!--  <listeners>
	  	<listener class-name="Utilities.ReporterListenerClass" /> 
	</listeners>     -->
	
  <test name="Run_Tests_From_Jenkins" > 
  <!--   <parameter name="browser" value="chrome"></parameter>   -->
  
  
    <classes>
   
  		<!--  <class name="TestSuites.QA_Environment.HerokuAppTestClass01" />   -->   
       	<class name="TestSuites.Staging_Environment.SwagLabsTestClass01" />  
        	
        	
    </classes>
  </test>    
 
  </suite>
